* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

p, label {
    font-family: 'Opens Sans', sans-serif;
}

.lp-dflex {
    display: flex;
}

.lp-height-flex-100per{
    height: 100%;
    display: flex;
}

.lp-flex-center {
    justify-content: center;
    align-items: center;
}

.lp-justify-content-center {
    justify-content: center;
}

.lp-flex-end {
    justify-content: flex-end;
    align-items: center;
}

.lp-flex-dir-col {
    flex-direction: column;
}

/* ANIMAÇÕES */

@keyframes fadeOut {
    /* Animação do Preloader */
    to {
        opacity: 0;
    }
}

@keyframes lineDown {
    /* Animação do corpo da seta do scroll down */
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1,1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1,1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1,1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1,0);
        transform-origin: bottom center;
    }

}

@keyframes arrowDown {
    0% {
        bottom: 18px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 3px;
        opacity: 0;
    }
}

@media screen and (min-width: 320px){

    .lp-title-size-normal {
        font-size: 30px;
    }

    .lp-title-size {
        font-size: 30px;
    }

    .lp-text-size {
        font-size: 20px;
    } 

    /* ---  ---*/
    .jl-page-wrapper {
        width: 100%;
        /* height: 100vh; */
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    /*------------ Modal -------------*/

    .jl-modal {
        width: 800px;

        display: table;     /*table para alinhar o modal*/
        
        padding: 30px;
        border-radius: 0 30px 30px 30px;

        position: fixed;
        top: 15%;

        left: 0;
        right: 0;
        margin: 0 auto;

        z-index: 1200;

    }

    /*------------ Modal Header -------------*/

    .jl-form {
        width: 100%;
        display: table;
        position: relative; /**/
    }

    .jl-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        text-align: center;
        line-height: center;
        cursor: pointer;

        position: absolute; /* se alinha baseado no header */
        top: -15px;
        right: -15px;

        border: none;
        background-color: #2f2f2f;

    }

    /*------------ Modal Body -------------*/

    .jl-form label {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;  /* faz seta valores acima */
    }

    .jl-field, .jl-textarea {
        width: 100%;
        background-color: #666666;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 16px;
        
        text-indent: 15px;  /* espaçamento somente primeira linha */
        /* padding-left: 15px; Pode usar esse pra espaçamento de texto dentro da caixa de texto */
    }

    .jl-field {
        height: 45px;
    }

    .jl-topbar {
        width: 100%;
        height: 90px;
        display: block;
        background-color: #00000041;
        /* --- fica fixado no topo --- */
        position: fixed;
        top: 0;
        left: 0;
        /* --- fica fixado no topo --- */

        z-index: 10 /*Coloca o Menu a frente dos elementos*/
    }

    .jl-logo {
        width: 74px;
        height: 110px;

        float: left;
        margin-left: 60px;
        
        background-color: #2b47d4;
        border-radius: 0 0 37px 37px;
    }

    .jl-logo img {
        width: 46px;
        height: 90px;
        display: block;
        margin: 12px auto 0 auto;
    }

    .jl-menu {
        display: none;
    }

    /* --- estilo de contatos ---*/
    .jl-btn-contact {
        width: 45px;
        height: 45px;
        display: block;

        background-color: #2b47d4;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;   /*nao deixa repetir imagem*/

        /*Mantem fixo na tela*/
        position: fixed;
        bottom: 45px;
        right: 45px;
        /*Mantem fixo na tela*/

        border-radius: 50%;
        z-index: 200;

        transition: all .2s ease-out;

        border: none;
        cursor: pointer;
    }

    /* caixa de contatos fixo no canto inferior direito */
    .jl-contact-info {

        display: none;

        width: 245px;
        height: 165px;

        padding: 25px;

        position: fixed;
        
        bottom: 115px;
        right: 65px;
        z-index: 200;
    }

    .jl-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .jl-corner {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        /* display: relative; */
    }

    .jl-corner:after {
        /* cria a ponta final do painel de contatos*/
        content: '';
        width: 25px;
        height: 25px;
        display: block;

        position: absolute;
        bottom: -19px;
        right: -1px;
        background: transparent url('../images/corner.svg') no-repeat;
    }

    .jl-social-links {
        width: 100%;
        height: 45px;
        display: block;

        position: relative;
        left: -12px;

        margin-top: 7px;
    }

    .jl-social {
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .jl-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;

    }

    /*--- HOME ---*/
    .jl-display-text {
        margin-top: 10%;
    }

    #lp-bg-home {
        background-image: url('../images/screenshots/blockRoom_1.jpg');
        background-repeat: no-repeat;
        background-position: 50% top;
        background-size: cover;
        position: relative; /* div pai do jl-scroll-down*/
    }

    #lp-bg-game-block {
        background-image: url('../images/screenshots/blockRoom_1.jpg');
        background-repeat: no-repeat;
        background-position: 50% top;
        background-size: cover;
        position: relative; /* div pai do jl-scroll-down*/
    }

    #lp-bg-game-guardian {
        background-image: url('../images/screenshots/guardianBird_1.png');
        background-repeat: no-repeat;
        background-position: 50% top;
        background-size: cover;
        position: relative; /* div pai do jl-scroll-down*/
    }

    /*--- Scroll da Página ---*/
    .jl-scroll-down {
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
        background-color: #2b47d4;
        display: block;
        
        /* faz centralizar no canto inferior */
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .jl-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }
    
    /* img da arrow */
    .jl-arrow-down img {
        width: 16px;
        height: 10px;
        display: block;
        
        /* faz centralizar no canto inferior */
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;

        opacity: 0;
        animation: arrowDown 1s linear 0.7s infinite;
    }

    /* faz linha da arrow depois de desenha arrow */
    .jl-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        background-color: #fff;

        display: block;

        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;

        /*Animação do corpo da seta*/
        animation: lineDown 1s ease-out infinite;
        transform-origin: top center;
    }

    .lp-panel-download a {
        text-decoration: none;
    }

}

@media screen and (min-width: 576px){
    .lp-title-size {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){

    .lp-title-size {
        font-size: 60px;
    }

    /* --- estilo de topbar ---*/
    .jl-menu {
        display: table;
        float: left;
        height: 110px;
        background-color: transparent;
        margin-left: 30px;
    }

    .jl-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
        text-transform: lowercase;

        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        
        position: relative; /*util efeito hover verde*/
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #cfcfcf;
    }

    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2b47d4;

        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;

        transition: all .2s ease-out;
        /*faz efeito de anim bottom verde*/
        transform: scale(0, 1);
        transform-origin: center left;
    }

    .jl-menu a:hover:before {
        transform: scale(1, 1); /*faz efeito de anim bottom verde*/
    }
}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1364px){
    
}

@media screen and (min-width: 1600px){
    
}

/* Rodapé do site */

.lp-footer {
    background-color: #e8ebed;
}

.lp-footer p {
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    color: rgb(64 57 81 / 63%);
  }

/* Botões */

.jl-btn {
    /* não precisa definir width, e respeita o padding*/
    /* mas não centraliza o botao 
        display: inline-block;
    */

    display: table; /*deixa centralizar botão*/
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;

    cursor: pointer;
    margin: 0 auto;

    width: 100%;
    height: auto;
}

.jl-btn-block {
    display: block;
    width: 100%;
}

.jl-btn-small {
    height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;
}

.jl-btn-medium {
    height: 38px;
    
    border-radius: 19px;
    font-size: 14px;
}

.jl-btn-large {
    height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}

/* Cores dos botões */

.jl-btn-white2blue {
    background-color: #fff;
    color: #1C1C1C;
}

.jl-btn-white2blue:hover {
    background-color: #2b47d4;
    color: #fff;
    transform: scale(1.04);
}

.jl-btn-green {
    background-color: #2CCB69;
    color: #1C1C1C;
}

.jl-btn-green:hover {
    background-color: rgb(25, 6, 135);
    color: #fff;
    transform: scale(1.03);
}

.lp-btn-blue {
    background-color: #2b47d4;
    color: #bcbcbc;
}

.lp-btn-blue:hover {
    background-color: rgb(25, 6, 135);
    color: #fff;
    transform: scale(1.03);
}

.jl-btn-dark {
    background-color: #151515;
    color: #2CCB69;
}

.jl-btn-dark:hover {
    background-color: #2f2f2f;
    color: #fff;
    transform: scale(1.03);
}


/* CLASSES UTILITARIAS */

/* fontes dos titulos */

.jl-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.jl-title-center {
    text-align: center;
}

/* alinhamentos dos textos */

.jl-text-align-center {
    text-align: center;
}

/* cor dos textos */
.jl-text-green {
    color: #2CCB69;
}

.jl-text-blue-light {
    color: #546ef0;
}

.jl-text-blue {
    color: #2b47d4;
}

.jl-text-dark {
    color: #4D4C4C;
}

.jl-text-light {
    color: #bcbcbc;
}

.jl-text-black {
    color: #000;
}

.jl-text-white {
    color: #fff;
}

/* cor de backgrounds */

.jl-bg-green {
    background-color: #2CCB69;
}

.jl-bg-dark {
    background-color: #4D4C4C;
}

.jl-bg-dark-transparent {
    background-color: #000000a6;
}

.jl-bg-light {
    background-color: #bcbcbc;
}

.jl-bg-black {
    background-color: #000;
}

/* margens */

.jl-mar-15 {
    margin: 15px;
}

.jl-mar-top-15 {
    margin-top: 15px;
}

.jl-mar-top-30 {
    margin-top: 30px;
}

.lp-mar-top-80 {
    margin-top: 80px;
}

.jl-mar-right-15 {
    margin-right: 15px;
}

.jl-mar-bottom-15 {
    margin-bottom: 15px;
}

.jl-mar-left-15 {
    margin-left: 15px;
}

/* paddings */

/* 15 */

.jl-pad-15 {
    padding: 15px;
}

.jl-pad-top-15 {
    padding-top: 15px;
}

.jl-pad-top-30 {
    padding-top: 30px;
}

.jl-pad-right-15 {
    padding-right: 15px;
}

.jl-pad-bottom-15 {
    padding-bottom: 15px;
}

.jl-pad-left-15 {
    padding-left: 15px;
}

/* 30 */

.jl-pad-30 {
    padding: 30px;
}

.jl-full-height {
    height: 100vh;
    
}

.jl-first-section {
    /* FIX - subtrai 30px do vh */
    height: calc(100vh - 30px);
}

/* CLASSES DE COMPORTAMENTOS */

.jl-is-open {
    display: block;
}

.jl-change-icon {
    background-position-y: -45px;
}

/* Preloader */
.jl-fade-out {
    animation: fadeOut 1s forwards ease-out;
}

/* Imagens */

.jl-imag-size {
    width: 80px;
    height: auto;
}

.jl-imag-resize {
    width: 100%;
    height: auto;
}

/* Paineis do Index */

.jl-panel-height {
    height: 200px;
}